@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

body {
    background: #151515;
}




.title {
    font-family: 'Berkshire Swash', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 76px;
    line-height: 94px;
    text-align: center;
    text-transform: capitalize;
    width: 683px;
    color: #FF5E19;
}

.par {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.img-left {
    margin-top: 45px;
    width: 411.78px;
    height: 460.76px;
    margin-bottom: -23px;
}

.mid-content {
    margin-top: 138px;
    width: 700px;

}

.right-content {
    width: 360px;
}


.card {
    background: black;
    border: 1px solid #434343;
}

.col-12 {
    width: 264px;
    height: 371px;
    background: #0D0D0D;

}

.second {
    Width: 264px;
    Height: 514px;
}

.calculate-btn {
    width: 221px;
    height: 42px;
    left: 1041px;
    top: 1103px;
    color: #FFFFFF;
    font-family: monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    background: #015196;
    margin-top: 19px;
    margin-bottom: 29px;
}

.budget-text {
    width: 73px;
    height: 22px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-right: 21px;
    color: #AFAFAF;
}

.select-btn {
    position: absolute;
    width: 221px;
    height: 42px;
    margin-left: 15px;
    background: #015196;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

p {
    color: #AFAFAF;
}

.list-text {
    padding-top: 10px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

ol,
li {
    padding-top: 22px;
}

ol li::marker {
    color: #888888;
    ;
}

footer {
    margin-top: 150px;
    border-top: 1px solid #717171;
    padding: 50PX;
}